@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    /* background-color: bisque; */
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: fixed; */
}
nav img{
    width: 180px;
    height: 60px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.box{
    /* background-color: beige; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-weight: 330;
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
}
h1 img{
    margin-top: 40px;
    height: 40px;
    width: 140px;
}
strong{
    font-weight: 700;
}
.description{
    margin-top: 30px;
    font-size: 21px;
    text-align: center;
}
.version{
    border-radius: 10px;
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #00B6D1;
    

}
.version a{
    color: #FFFFFF;
    font-weight: bold;
    font-size: small;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download{
    display: flex;
    /* justify-self: start; */
    width: 100%;
    margin-top: 60px;
}
.UE{
    font-size: 20px;
    margin:13px 5px 0px 20px;
}
.release{
    font-size: 11px;
    margin-top: 22px;
}
.languages{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lang{
    background-color: #F9F9F9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 14px;
    padding-left: 14px;
    height: 200px;
    row-gap: 10px;
    padding-bottom: 15px; 
    width: 300px;
}
.lang h2{
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: end;
}
.name{
    grid-column: 1/4;
    text-align: center;
}
.box32,.box64{
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    height: 45px;
    
}
.box32{
    background-color: #00B6D1;
}
.box64{
    background-color: #5CB85C;
}
